@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Reenie+Beanie&display=swap');

@keyframes fade {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

body {
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: rgb(251, 0, 255);
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 1rem auto;
    width: fit-content;
    font-size: 15rem;
    font-family: 'Reenie Beanie', cursive;
    animation: fade ease 2s;
}

a {
    color: white;
    text-decoration: none;
    padding: 0 3rem;
    transition: 0.3s;
    border-bottom: 3px solid rgb(251, 0, 255);
    border-radius: 50px;
}

a:hover {
    background-color: rgb(251, 0, 255);
}

.navbar {
    font-size: 3rem;
    /* background-color: green; */
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

p {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    bottom: 0vh;
}